/* Color guide:
	gray:  rgb(109, 111, 113)
	green: rgb(189, 214, 49)
*/

div, header, footer, p, ul, ol, li, nav, section, article {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.main-header {
	background: white;
	border-bottom: solid 3px rgb(189, 214, 49);
	padding: 0.5em 0;
	text-align: center;
}

.logo {
	height: 130px;
	width: 400px;
}

.intro-content {
  text-align: center;
  border-bottom: solid 3px rgb(189, 214, 49);
  background: url('../img/bkgd-01.png') no-repeat center;
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 4em;
}

.main-content {
	color: rgb(109, 111, 113);
	text-transform: none;
	text-align: center;
	font-size: 1.2em;
	width: 60%;
   	margin: 0 auto;
}

.callout-text {
	color: rgb(189, 214, 49);
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 2px 2px 0px rgb(109, 111, 113);
	margin: 0 auto;
}

.date {
	margin: 0.25em auto;
}

.time {
  margin: 0;
  margin-bottom: 2em;
}

.location-area {
  font-size: 1.5em;
  margin: 0;
  color: rgb(189, 214, 49);
}

.location-address {
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 2em;
}

.tagline {
	font-size: 1.5em;
	margin: 0.25em auto;
}

.tagline + .tagline {
	margin-bottom: 3em;
}

.stream-link {
	color: rgb(189, 214, 49);
}

.main-content-section {
  text-align: left;
  margin: 4em auto;
}

.sponsors {
  text-align: center;
  color: rgb(109, 111, 113);
  background: rgb(220, 220, 220);
  border-bottom: solid 3px rgb(189, 214, 49); 
  padding: 2em 0;
}

.sponsors header {
	width: 60%;
	margin: 0 auto;
}

.sponsors h1 {
  font-size: 1.5em;
}

.sponsors img {
	display: block;
	width: 50%;
	margin: 2em auto;

}

.lead-paragraph {
	line-height: 1.3em;
	font-size: 1.1em;
	font-weight: bold;
}
.main-paragraph {
  text-transform: default;
}

.highlight {
	color: rgb(189, 214, 49);
}

.main-footer {
	color: rgb(109, 111, 113);
	font-size: 0.75em;
	text-align: center;
	margin: 0 auto;
	padding: 1em 0;
	background-color: rgb(50, 51, 53);
}

.past-events-header {
	text-align: center;
	margin: 0 auto;
	width: 60%;
}

.past-events-list {
	overflow: auto;
	margin: 0 auto;
	width: 60%;
	padding-left: 15em;
}

.past-events-list li {
	float: left;
	display: inline-block;
}

.past-events-list a {
	margin: 1em;
	background-size: contain;
	background-repeat: no-repeat;
}

.past-events-list a span {
	display: none;
}

.past-event-2013 {
	display: block;
	width: 185px;
	height: 75px;
	background-image: url('../img/poynter2013.png');
}

.past-event-2012 {
	display: block;
	width: 108px;
	height: 75px;
	background-image: url('../img/poynter2012.png');
}

.past-event-2011 {
	display: block;
	width: 75px;
	height: 75px;
	background-image: url('../img/poynter2011.png');
}

.past-event-2010 {
	display: block;
	width: 112px;
	height: 75px;
	background-image: url('../img/poynter2010.png');
}

.registration-info {
	font-size: 0.8em;
}

.copyright {
	font-size: 0.8em;
	color: rgb(189, 214, 49);
}

.two-thirds {
  width: 63%;
}

.one-third {
  width: 30%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

/* AddThisEvent (add to your existing CSS) */
.addthisevent-drop 						{width:170px;display:inline-block;position:relative;z-index:999998;background:rgb(189, 214, 49);font-family:"Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;color:#fff!important;text-decoration:none;font-size:15px;text-decoration:none;padding:12px 20px 12px 15px;}
.addthisevent-drop:hover 				{color:#fff;font-size:15px;text-decoration:none;background-color:rgb(195, 204, 59);}
.addthisevent-drop:active 				{top:1px;}
.addthisevent-drop .arrow 				{width:15px;height:10px;position:absolute;top:50%;right:15px;margin-top:-5px;background:url(../img/icon-arrow.png) no-repeat;}
.addthisevent-selected 					{background-color:rgb(189, 214, 49);}
.addthisevent_dropdown 					{width:215px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:2px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown span 			{display:block;line-height:110%;background:#fff;text-decoration:none;font-size:14px;color:#6d84b4;padding:8px 10px 9px 15px;}
.addthisevent_dropdown span:hover 		{background:#f4f4f4;color:#6d84b4;text-decoration:none;font-size:14px;}
.addthisevent span 						{display:none!important;}
.addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event {display:none!important;}
.addthisevent_dropdown .copyx 			{height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx 			{width:180px;height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;top:9px;}
.addthisevent_dropdown .frs 			{position:absolute;top:3px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:10px;color:#cacaca;}
.addthisevent_dropdown .frs:hover 		{color:#6d84b4;}
.addthisevent 							{visibility:hidden;}

@media (min-width: 769px) and (max-width: 1300px) {
	.past-events-list {
		padding-left: 5em;
	}
}

@media (max-width: 768px) {
	.main-content {
		width: 90%;
	}

	.logo {
		width: 50%;
		height: 50%;
	}

	.past-events-header {
		width: 90%;
	}

	.past-events-list {
		width: 90%;
		padding-left: 0;
	}

  .sponsors header {
    width: 90%;
  }

  .sponsors img {
    width: 90%;
  }
}
